
@{
    ViewBag.Title = "NewPage";
    Layout = "~/Views/Account/ControlPanelLayout.cshtml";
}

<div>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2 style="float:left;">
                    @Html.ActionLink("CATEGORIES", "Pages")
                </h2>
                <h2 style="float:left;">  /  </h2>
                <h2>CREATE NEW</h2>
            </div>
            @using (Html.BeginForm("NewPage", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="table-responsive">
                    <div>
                        <input type="text" value="" name="txtCatName" id="txtCatName" class="form-group form-control" 
                               style="padding-left:10px;" placeholder="Category Name Here!" />
                    </div>
                    <div>
                        <input type="text" value="" name="txtCatInfo" id="txtCatName" class="form-group form-control" 
                               style="padding-left:10px;" placeholder="Category Info Here!(Keep It Short)" />
                    </div>
                    <div>
                        <input type="file" value="Browse" name="foto" id="foto" class="form-control" 
                               accept=".jpg,.png,.JPEG,.jpeg,.JPG,.PNG" />
                    </div>
                    <div>
                        <p class="text-danger" style="margin:1%;">@ViewBag.Error</p>
                        <input type="submit" value="CREATE" class="btn btn-primary " style="width:100%; margin-top:0px;" />
                    </div>
                </div>
            }
        </div>
    </section>
</div>

